$titleFont: "Source Sans Pro", sans-serif;
$headerImg: '../img/m-h-day.jpg';
$contFont: 'Hind', sans-serif;

$colors: (
   titleColor:#2c2f3c,
   button: #699900,
   gradientCol: #2f5dd1,
   phraseCol: #14a0c7,
   footerCol: #21232e,
   mainBagCol: #ffffff,
   fontColor: #2c2f3c,
   textCol: #bbc3c4,
   linkCol:#ffffff
);






