$titleFont: "Source Sans Pro", sans-serif;
$headerImg: '../img/m-h-night.jpg';
$contFont: 'Fresca', sans-serif;

$colors: (
   titleColor:#fff9e4,
   button: #e2ab05,
   gradientCol: #983351,
   phraseCol: #f5532f,
   footerCol: #3c3f50,
   mainBagCol: #21232f,
   fontColor: #ffffff,
   textCol: #bbc3c4,
   linkCol: #ffffff
);

